.card {
  border: 1px solid #3333334a;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  height: auto;
  max-width: 300px;
  text-align: center;
}

.card:hover {
  background-color: #f1f1f1;
}

.card img {
  width: auto;
  height: auto;
  border-radius: 4px;
}